<div class="well breadcrumbs">
	<div class="row hidden-print">
		<div class="col-sm-8 left">
			<strong><%= Date.today.to_s(:long) %></strong> -
			<%= @current_store.store_name.blank? ? "PushVendor Point of Sale" : @current_store.store_name %>
			<%= @current_branch.branch_name.blank? ? "PushVendor Point of Sale" : @current_branch.branch_name %>
		</div>
		<div class="col-sm-4 right">
			<%= params[:controller] %> <%= params[:action] == 'index' ? '' : "/ #{params[:action]}" %>
		</div>
	</div>
	<div class="row hidden-print">
		<div class="col-sm-8 left">
			<strong>Current User</strong> -
			<%= current_user.username.blank? ? "Unknown User" : current_user.username %>
		</div>
	</div>
	<div class="row visible-print">
		<div class="col-sm-8 left">
			<strong><%= Date.today.to_s(:long) %></strong>
			<br />
			<%= @current_store.store_name.blank? ? "PushVendor Point of Sale" : @current_store.store_name %></br />
			<%= @current_store.phone_number.blank? ? "-" : @current_store.phone_number %></br />
			<%= @current_store.email_address.blank? ? "-" : @current_store.email_address %></br />
			<%= @current_store.address.blank? ? "-" : @current_store.address %></br />
			<%= @current_store.city.blank? ? "-" : @current_store.city %></br />
			<%= @current_store.state.blank? ? "-" : @current_store.state %></br />
			<%= @current_store.zip.blank? ? "-" : @current_store.zip %></br />
		</div>
		<div class="col-sm-4 right"></div>
	</div>
</div>