<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= root_path%>"><span class="glyphicon glyphicon-home"></span></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="<%= customers_path%>"><%= t('menu.customers')%></a>
				</li>
				<li>
					<a href="<%= sales_path%>"><%= t('menu.sales')%></a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('menu.items')%><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="<%= items_path%>"><%= t('menu.items')%></a>
							<a href="<%= item_categories_path%>"><%= t('menu.item_categories')%></a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="<%= users_path%>"><span class="glyphicon glyphicon-user"></span> <%= t('menu.users')%></a>
						</li>
						<li>
							<a href="<%= reports_path%>"><span class="glyphicon glyphicon-stats"></span> <%= t('menu.reports')%></a>
						</li>
						<li>
							<%if current_user.is? :superadmin%>
							<a href="/stores"><span class="glyphicon glyphicon-adjust"></span> <%= t('menu.stores')%></a>
							<%else%>
							<%= link_to edit_store_path(@current_store) do %>
							<span class="glyphicon glyphicon-adjust"></span>
							<%= t('menu.store')%>
							<%end%>
							<%end%>
						</li>
						<li>
							<a href="<%= branches_path%>"><span class="glyphicon glyphicon-adjust"></span> <%= t('menu.branches')%></a>
						</li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">

				<li>
					<%= link_to t('menu.new_sale'), new_sale_path, :class => "btn btn-success btn-lg active" %>
				</li>

				<li>
					<% if I18n.locale == I18n.default_locale %>
					<%= link_to "简体中文", :locale=>'zh-CN'%>
					<% else %>
					<%= link_to "English", :locale=>'en'%>
					<%end%>
				</li>

				<%if not current_user.is? :superadmin and current_user.branches.count>1%>

				<li class="dropdown">
					<a lass="dropdown-toggle" data-toggle="dropdown" href="#"><%= 'Branch : '+@current_branch.branch_name%> <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li>
							<%for b in current_user.branches%>
							<%= link_to b.branch_name, controller: "dashboard", action:"switch_branch", switch_branch_to: b.id %>
							<%end%>
						</li>
					</ul>
				</li>

				<li>
					<%= link_to 'New Sale', new_sale_path, :class => "btn btn-success btn-lg active" %>
				</li>

				<%end%>
				<li>
					<%= link_to(destroy_user_session_path, :method => :delete) do %>
					<span class="glyphicon glyphicon-remove-circle"></span>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</div>