<div class="panel panel-default">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Store Name</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<% @stores.each do |store| %>
				<tr>
					<td><%= store.store_name%></td>
					<td><%= store.store_description%></td>
					<td> <%= link_to 'Edit', edit_store_path(store) %> |
					<%= link_to 'Remove', store, method: :delete, data: { confirm: 'Are you sure?' } %> |
					<%= link_to 'New Branch', new_branch_path(:preset_store_id => store.id) %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<div class="panel-body">
			<%= paginate @stores %>
		</div>
	</div>
</div>

<div class="col-sm-12">
	<%= link_to 'New Store ', new_store_path, :class => "btn btn-success btn-lg active" %>
</div>
