<div id="filterrific_results">

	<div class="well well-sm">
		<div class="row">
			<div class="chardin_box">
				<%= page_entries_info @items ,:entry_name => 'Product' %>
				<%= render_filterrific_spinner %>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">

			<tr>
				<th>#</th>
				<th>Category</th>
				<th>Product</th>
				<th>Sold</th>
				<th>Stock</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>

			<% items.each do |item| %>
			<tr class="<%= get_store_stock_amount(@current_store, item) > 0 ? '' : 'danger' %>">
				<td><%= item.sku %></td>
				<td><%= item.item_category.blank? ? '-' : item.item_category.name %></td>
				<td><%= item.name %></td>
				<td><%= get_store_amount_sold(@current_store, item) %></td>
				<td><%= get_store_stock_amount(@current_store, item) %></td>
				<td><%= number_to_currency item.price %></td>
				<td><%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>

		</table>
		<div class="panel-body">
			<%= paginate @items , :params => {:controller => 'items', :action => 'index'},:remote => true%>
		</div>
	</div>

	<div class="col-sm-12">
		<%= link_to 'New Item', new_item_path, :class => "btn btn-success btn-lg active" %>
	</div>
</div>

