<%= form_for @filterrific do |f| %>
<div class="well well-sm">
	<div class="row">
		<div class="col-sm-3"  >
			Search
			<%= f.text_field(
			:search_query,
			class: 'filterrific-periodically-observed form-control'
			) %>
		</div>
		<div class="col-sm-3" >
			Category
			<%= f.select(
			:with_item_category_id,
			@current_store.item_categories.options_for_select,
			{ include_blank: '- Any -' },
			class: 'form-control'
			) %>
		</div>
		<div class="col-sm-3" >
			Sorted by
			<%= f.select(:sorted_by,
			Item.options_for_sorted_by,
			{},
			class: 'form-control') %>
		</div>

	</div>
</div>

<% end %>

<%= render(
partial: 'items/list',
locals: { items: @items}
) %>